# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# ======================
# Visual Studio specific
# ======================

# Build folders
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# Visual Studio cache/options
.vs/
*.vcxproj.user
*.vcxproj.filters

# Visual Studio Code workspace files
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Others
*.cache
*.db
*.opendb
*.VC.db